<%- model_class = Question -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<ul class="list-group">

    <% @questions.each do |question| %>
      <button type="button" class="list-group-item" onclick="location.href='<%=question_path(question) %>'">
        <span class="badge">14</span>
        <%= link_to question.title, question_path(question), :class => 'h2' %></br>
        <hr>
        <%= qiita_markdown(question.content) %>
        <%= time_ago_in_words(question.created_at) %>
              <%= link_to t('.show', :default => t("helpers.links.show")),
                          question_path(question), :class => 'btn btn-default btn-xs' %>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_question_path(question), :class => 'btn btn-default btn-xs' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          question_path(question),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-xs btn-danger' %>
      </button>
    <% end %>
</ul>


<%= link_to t('.new', :default => t("helpers.links.new")),
            new_question_path,
            :class => 'btn btn-primary' %>
